{% extends 'base.html' %}
{% block title %}Reports & Analytics{% endblock %}
{% block content %}
<h1 class="mb-4">Reports & Analytics</h1>
<div class="row g-4">
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Total Employees</h5>
            <p class="display-6">{{ employees }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Upcoming Holidays</h5>
            <p class="display-6">{{ active_holidays }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Pending Tickets</h5>
            <p class="display-6">{{ pending_tickets }}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3">
            <h5>Total Approved Expenses</h5>
            <p class="display-6">{{ total_expenses }}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3">
            <h5>Average Rating</h5>
            <p class="display-6">{{ average_rating }}</p>
        </div>
    </div>
</div>
{% endblock %}
